@font-face {
    font-family: Arcaea;
    src: url(Exo-Light.ttf);
}

h1, h2, label, table, div{
    font-family: 'Arcaea', sans-serif;
}


table, td, th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#byd{color: red;}
#ftr{color: purple;}
#prs{color: green;}
#pst{color: cyan;}

.deletechart{
    max-width: 75%;
    max-height: 45%; 
    /* border: 0.1px solid black; */
}

#ranker{
    width: 5%;
    border: 1px solid black;
}

/**********************
pure letter for tags
# for id
. for class 
***********************/
